@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$neon-blue: #2de2e6;
$neon-pink: #fc0174;
.display-text{
    color: $neon-blue;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
}
.display-clip{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1cdf15;
    margin-top: 0.5em;
}
.power-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.power-button{
    border-radius: 50%;
    border: none;
    width: 3em;
    height: 3em;
    font-weight: 600;
    background-color: transparent;
    transition: 200ms ease-in-out;
    border: 2px solid;
    
}
.power-off{
    border-color: $neon-pink;
    color: $neon-pink;
    box-shadow: 3px 3px 10px $neon-pink;
}
.power-on{
    border-color: #e9bd1d;
    color: #e9bd1d;
    box-shadow: 3px 3px 10px #ff6c11;
}

.sound-container{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.volume{
    margin-top: 0.5em;
}
.switch-button{
    border: none;
    border-radius: 6px;
    transition: 200ms ease-in;
    font-weight: 600;
    background-color: transparent;
    padding: 0.2em;
}
.switch-off{
    border: 1px solid #afd7fa;
    color: #afd7fa;
    box-shadow: 3px 3px 10px #afd7fa;
}
.switch-on{
    border: 1px solid #ff7486;
    color: #ff7486;
    box-shadow: 3px 3px 10px #ff7486;
    
}