@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$neon-blue: #2de2e6;
$neon-pink: #fc0174;
.display-text{
    color: $neon-blue;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
}
.display-clip{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1cdf15;
}
.power-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}
.power-off{
    background-color: $neon-pink;
}
.power-on{
    background-color: #e9bd1d;
    box-shadow: 3px 3px 5px #ff6c11;
}
.power-button{
    border-radius: 50%;
    border: none;
    width: 2.5em;
    height: 2.5em;
    font-weight: 600;
    color: #140420;
    transition: 200ms ease-in-out;
}
.switch-button{
    border: none;
    border-radius: 6px;
}
.sound-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.volume{
    margin-top: 1em;
}