@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$neon-blue: #2de2e6;
$neon-pink: #fc0174;
.drum-pad{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0.3em;
    width: 2.5em;
    height: 2.5em;
}
.btn-neon{
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600;
    transition: 150ms ease-in-out;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Nunito Sans', sans-serif;
    border-color: $neon-blue;
}
.btn-neon-blue{
    color: $neon-blue;
    background-color: transparent;
}
.btn-neon-blue:hover,
.btn-neon-blue-active{
    background-color: $neon-blue;
    color: #140420;
}