@import "./app.scss";
@import "./display.scss";
@import "./drumpad.scss";
@import "./padbank.scss";

body{
    margin: 0;
    padding: 0;
    background-color: #0f1026;
}

@media (max-width: 820px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
}